# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# PyTorch / model weights
*.pt
*.pth
*.onnx

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Generated outputs
outputs/
runs/
results/

# Kaggle
/kaggle/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python environment/cache
*.log